<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.datetime_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :dependencia %><br>
    <%= f.text_field :dependencia %>
  </div>
  <div class="field">
    <%= f.label :beneficiario %><br>
    <%= f.text_field :beneficiario %>
  </div>
  <div class="field">
    <%= f.label :depositante %><br>
    <%= f.text_field :depositante %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
