<p id="notice"><%= notice %></p>

<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Fecha</th>
      <th>Valor</th>
      <th>Dependencia</th>
      <th>Beneficiario</th>
      <th>Depositante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.codigo %></td>
        <td><%= bill.fecha %></td>
        <td><%= bill.valor %></td>
        <td><%= bill.dependencia %></td>
        <td><%= bill.beneficiario %></td>
        <td><%= bill.depositante %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
