<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @bill.codigo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @bill.fecha %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @bill.valor %>
</p>

<p>
  <strong>Dependencia:</strong>
  <%= @bill.dependencia %>
</p>

<p>
  <strong>Beneficiario:</strong>
  <%= @bill.beneficiario %>
</p>

<p>
  <strong>Depositante:</strong>
  <%= @bill.depositante %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
